html, body {
    font-family: 'futura-pt';
    font-size: 1.8rem;
    line-height: 1.4;
    box-sizing: border-box;
    margin:0;
}

div {
    display: block;
}

a {
    text-decoration: none;
    color: #1e1e1e;
}

ul {
    list-style: none;
}

.outernav{
    letter-spacing: 2px;
    font-size: 12px;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    text-transform: uppercase;
    padding: 48px 56px 48px 56px;
    box-sizing: border-box;
}

.outernav-top{
    width: 100%;
    box-sizing: border-box;
    font-weight: 400;
    position: relative;
    right: 0;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    text-transform: uppercase;
}

.outernav-img{
    max-width: 400px;
}
.outernav-weather {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding-left: 32px;
}

.outernav-tr{
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.outernav-weather-item{
    display: block;
    padding-left: 10px;
}

.outernav-bottom{
    bottom: 0px;
    box-sizing: border-box;
    color: black;
    font-weight: 400;
    right: 0px;
    position: relative;
    text-align: center;

}

.outernav-bl{
    bottom: 0px;
    box-sizing: border-box;
    margin-left: 2vw;
    pointer-events: auto;
    position: absolute;
    text-size-adjust: 100%;
    transform: rotate(-90deg);
    transform-origin: bottom left;
}

.outernav-br{
    box-sizing: border-box;
    transform: rotate(90deg);
    transform-origin: bottom right;
    margin-right: 2vw;
    position: absolute;    
    bottom: 0px;
    right: 0px;
}

.outernav-br ul{
    transform: rotate(-180deg);
    margin: 0;
}

.outernav-share{
    display: flex;
    box-sizing: border-box;
    position: relative;
}

.outernav-share-item{
    max-width: .9em;
    margin-right: 2em;
    margin-bottom: .1em;
}

.outernav-share-item img{
    transform: rotate(90deg);
    height: auto;
    width: 100%;
}

.outernav-share-item-text::before{
    content: "";
    background: #1e1e1e;
    display: inline-flex;
    margin-right: 2em;
    height: 1px;
    width: 50px;
    vertical-align: super;
}

/*Main Link styling*/
.index_link{
    box-sizing: border-box;
    margin-bottom: -24px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -24px;
    position: relative;
    text-align: center;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
}
.index_link a {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-origin: initial;
    background-size:auto;
    cursor: pointer;
    
    position: relative;
}
.hoverfill{
    cursor: pointer;
}
.index_link .outer{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: translateX(-100.5%);
}
.index_link .inner {
    display: inline-block;
    transform: translateX(100%);
}
.index_link a .outer,
.index_link a .inner {
  transition: all 0.7s cubic-bezier(0.19, 1, 0.4, 1) 0s;
  
}
.index_link a:hover .outer,
.index_link a:hover .inner {
  transform: none;
}
.a1{
    text-align: left;
    margin-top: auto;
    display: inline-block;
    line-height: 1.5;
    position: relative;
    pointer-events: none;
    -webkit-text-stroke: 0.02em rgb(30,30,30);
    color: transparent;
}
.index_link a::before{
    position: absolute;
    display: inline;
    white-space: nowrap;
    background-attachment: scroll;
    top: 0px;
    left: 0px;
    content: attr(data-fill);
    width: 0px;
    background-image: none;
    -webkit-text-fill-color: transparent;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.4, 1) 0s;
    background: text black;
    -webkit-text-stroke: 0px;
}
.index_link a::after{
    text-align: left;
    margin-top: auto;
    display: inline-block;
    -webkit-text-fill-color: black;
    content: attr(data-section);
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 0.4em;
    transform: translate(-2em, 0.75em);
    vertical-align: top;
    letter-spacing: 2px;
    box-sizing: border-box;
    height: 32px;
    width: 32px;
}
.git {
    max-height: 1em;
}
.temp{
    font-weight: 600;
    padding-left: 6px;
}
.index {
    background: #f0d6cc;
    color: #1e1e1e;
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: initial;
}

.index_content {
    display: block;
}

.index_link {
    font-size: 6vmin;
    font-weight: 800;
    line-height: 1.5;
    text-transform: uppercase;
    text-decoration: none;
    color: transparent;
    -webkit-text-stroke-width: 0.02em;
    -webkit-text-stroke-color: rgb(30,30,30);
}